.contenido_index{
    margin-left: 25px;
}

.img_perro{
    display: flex; justify-content: center;
    margin-top: 30px;
}

header{
    display: flex; justify-content: space-between;
    background-color: rgb(63, 114, 255);
}

footer{
    margin-top: auto;
}

table{
    margin: 0 auto; 
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 60px;
}

tr, td{
     border: 3px solid black;
    padding: 10px;
}

.titulo_principal{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(63, 114, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tabla{
    display: flex; 
}

.titulo{
     color: black;
     margin-left: 170px;
}

.dias{
    background-color: darkorange;
}

.recreo{
    background: rgb(142, 237, 253);
}

.tabla{
    text-align: center;
}

.llmm{
    background-color: rgb(250, 155, 155);
}

.ipe{
    background-color: bisque;
}

.ing{
    background-color: cadetblue;
}

.gdb{
    background-color: blanchedalmond;
}

.redes{
    background-color: aquamarine;
}

.hardware{
    background-color: burlywood;
}

.iso{
    background-color: coral;
}

.sostenibilidad{
    background-color: darkgoldenrod;
}

.proyecto{
    background-color: darkgray;
}

.digitalizacion{
    background-color: darkkhaki;
}

footer{
    display: flex;

}

.d-flex{
    background-color: beige;
    margin-top: 170px;
}

.nav-item_botones{
    text-decoration: underline;
}

.col-md-4{
    padding-left: 20px;
} 

.container{
    display: flex; justify-content: center;
}

fieldset{
    margin-top: 40px;
    ;
}

.columna_2{
    margin-left: 400px;
}

.formulario_3{
    display: flex; 
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.ola{
    display: flex;
    gap: 20px;
}

.ejercicios{
    display: flex; 
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
